[submodule "FUEL"]
	path = FUEL
	url = https://github.com/eliabntt/FUEL
[submodule "catkin_simple"]
	path = catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "mav_control_rw"]
	path = mav_control_rw
	url = https://github.com/eliabntt/mav_control_rw
[submodule "mav_comm"]
	path = mav_comm
	url = https://github.com/ethz-asl/mav_comm.git
[submodule "moveit_based_collision_checker_and_placement"]
	path = moveit_based_collision_checker_and_placement
	url = https://github.com/eliabntt/moveit_based_collision_checker_and_placement
[submodule "custom_6dof_joint_controller"]
	path = custom_6dof_joint_controller
	url = https://github.com/eliabntt/custom_6dof_joint_controller
